@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');
body {
  margin: 0;
  font-family: 'Roboto Slab', serif;
  background-color: #C00532;
  color: #ffffff;
  font-size: 20px;

}

code {
  font-family:'Roboto Slab', serif;
}
